ADMIN_USERNAME=...       # Username
ADMIN_PASSWORD=...       # Hashed password (using bcrypt)
COOKIE_SECURE=...        # true or false
JWT_SECRET=...           # JWT secret 
WA_API_TOKEN=...         # Fonnte device token