NODE_ENV='development'  # production or development
ADMIN_USERNAME='...'    # Username
ADMIN_PASSWORD='...'    # Hashed password (using bcrypt)
JWT_SECRET='...'        # JWT secret 
WA_API_TOKEN='...'      # Fonnte device token